*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(49,126,197); */
}



#form{
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    margin-top: 0.20rem;
}

input{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 20rem;
    height: 3rem;
    border-radius:30px;
    text-align: center;
    font-size: 17px;
    font-family: monospace;
    color: rgb(74, 75, 77);
    outline: rgb(49,126,197);
    border: 0;
    border-bottom: 2px solid rgb(29, 28, 29);
    border-top: 1px solid rgb(29, 28, 29);

}

.gather{
    margin-left: 3rem;
    margin: 0.4rem;
    text-align: center;
    font-family: monospace;
    color: red;
    text-shadow: 2px 2px 2px rgb(192, 190, 192);
    position: absolute;
}

.las{
    margin-left: 3rem;
    margin: 0.4rem;
    text-align: center;
    font-family: monospace;
    color: red;
    text-shadow: 2px 2px 2px rgb(196, 187, 196);
    position: absolute;
}

.mail{
    margin-left: 3rem;
    margin: 0.4rem;
    text-align: center;
    font-family: monospace;
    color: red;
    text-shadow: 2px 2px 2px rgb(196, 187, 196);
    position: absolute;
}

.pswp{
    margin-left: 3rem;
    margin: 0.4rem;
    text-align: center;
    font-family: monospace;
    color: red;
    text-shadow: 2px 2px 2px rgb(196, 187, 196);
    position: absolute;
}
.confirmps{
    margin-left: 3rem;
    margin: 0.4rem;
    text-align: center;
    font-family: monospace;
    color: red;
    text-shadow: 2px 2px 2px rgb(196, 187, 196);
    position: absolute;
}
#deyempty{
    display: none;
    padding-left: 1.25rem;
  
}
#deyhi{
    display: none;
    padding-left: 1.25rem;
}
#emptypass{
    display: none;
    padding-left: 1.25rem;
}

#passexceed{
    display: none;
    padding-left: 1.25rem;
}

#emp{
    display: none;
    padding-left: 1.25rem;
}
#invalid{
    display: none;
    padding-left: 1.25rem;
}
#lastname {
    display: none;
    padding-left: 1.25rem;
}

#lasthan{
    display: none;
    padding-left: 1.25rem;
}

#empty{
    display: none;
    padding-left: 1.25rem;
}

#than{
    display: none;
    padding-left: 1.25rem;
    
}
:placeholder-shown{
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    text-shadow: 2px 2px 2px rgb(96,102,151);
}

#button{
    width: 10rem;
    background-color: blue;
    color: white;
    font-size: 17px;
    outline: none;
}
.fa-brands{
    font-size: 30px;
    
}

f
/* button{
    outline: none;
    border: none;
} */
/* 
#container{
    margin-top: 0.36rem;
    background-color: skyblue;
} */
